.inData {
	width: 50vw;
	height: 60vw;
	color: white;
	background-color: #70AB8F;
	border-radius: 20px;
	margin: 0 auto;
}

.inData h4 , p {
	width: 100%;
	margin: 5px auto;
	text-align: center;
}

h4 {
	color: #000;
}